/** contents/sidebar.css **/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #plasmo-shadow-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #0a0a0a;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #0a0a0a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a855f7;
  border-radius: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9333ea;
}
